extends layout

block content
  h1 Create a Post!

  form(method="POST")
    input(type='hidden' name='username' value=currentUser.id)
    label(for='title') Title:
      input(type='text' name='title' required='true')
    label(for='message') Message: 
      textarea(name='message' required='true' maxlength='200' cols='35' rows='7')
    button Create Post