extends layout

block content
  h1 Log In to Member's Only

  form(method="POST")
    input(type='hidden' name='username' value=currentUser.id)
    label(for='title') Title:
      input(type='text' name='title' required='true')
    label(for='message') Message: 
      textarea(name='message' required='true')
    button Create Post