extends layout

block content
  h1 Log In to Member's Only

  form(method="POST")
    input(type='hidden' name='username' value=currentUser.id)
    input(type='hidden' name='post_time' value=`${new Date()}`)
    label(for='message') Message: 
      textarea(name='message')
    button Create Post