extends layout

block content
  h1 Log In to Member's Only

  form(method="POST")
    <!-- figure out how to get cur user mongooseID-->
    label(for='body') Message: 
      textarea(name='username')
    button Log In