doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="preconnect" href="https://fonts.gstatic.com")
    link(href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@400;700&display=swap" rel="stylesheet")
  body

    nav
      .nav-home
        a(href='/') Member's Only
      .nav-bar
        if currentUser
          div Welcome #{currentUser.firstname}
          div
            a(href='/create-post') Create Post
          div 
            a(href='/users/log-out') Log Out
        else
          div 
            a(href='/users/log-in') Log In
          div
            a(href='/users/sign-up') Sign Up
    .page-container
      block content
