doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body

    nav
      ul
        li
          a(href='/') Member's Home
        li
          a(href='/sign-up') Sign Up
        li 
          a(href='/log-in') Log In
    block content
