doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body

    nav
      ul
        li
          a(href='/') Member's Home
        if currentUser
          li 
            a(href='/users/log-out') Log Out
          li
            a(href='/create-post') Create Post
        else
          li 
            a(href='/users/log-in') Log In
          li
            a(href='/users/sign-up') Sign Up
    block content
