extends layout

block content
  h1 Log In to Member's Only

  form(method="POST")
    label(for='username') Email: 
      input(type='text' name='username')
    label(for='password') Password: 
      input(type='text' name='password')
    if errors
      div(class='errors')= errors
    button Log In