doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav
      ul
        li
            a(href='/') Member's Home
        li
            a(href='/users/log-in') Log Back In
            
    h1 Thanks for visiting Member's Only, come back soon!