doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="preconnect" href="https://fonts.gstatic.com")
    link(href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@400;700&display=swap" rel="stylesheet")
  body
    nav
      .nav-home
        a(href='/') Member's Only
      .nav-bar
        a(href='/users/log-in') Log Back In
    .page-container   
      h1 Thanks for visiting Member's Only, come back soon!
      a(href='/') Back to Home