extends layout

block content
    h1 Welcome to Member's Only
        h2 Sign up
        form(method="POST")
            label(for='first-name') First Name:
                input(type='text' name='first-name' required='true')
            label(for='last-name') Last Name:
                input(type='text' name='last-name' required='true')
            label(for='username') Username:
                input(type='text' name='username' required='true')
            label(for='password') Password:
                input(type='text' name='password' required='true')
            div.pw-confirm
            label(for='password-confirm') Confirm Password:
                input(type='text' name='password-confirm' required='true')
            button Sign Up