extends layout

block content
    h1 Welcome to Member's Only
        h2 Sign up
        form(method="POST")
            label(for='firstname') First Name:
                input(type='text' name='firstname' required='true')
            label(for='username') Username:
                input(type='text' name='username' required='true')
            label(for='password') Password:
                input(type='text' name='password' required='true')
            label(for='passwordconfirm') Confirm Password:
                input(type='text' name='passwordconfirm' required='true')
            input(type='hidden' name='isadmin' value='false')
            if errors
                ul(class='errors')
                    each error in errors
                        li= error.msg 
            button Sign Up
        