body {
    font: 18px 'Big Shoulders Display', cursive;
    padding: 0;
    margin: 0;
    height: 100vh;
}

nav {
    display: flex;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgba(151, 148, 148, 0.644);
    font-size: 1.4rem;
}

.nav-home {
    width: 20%;
    padding-left: 5px;
}

.nav-bar {
    display: flex;
    width: 80%;
    list-style: none;
    justify-content: flex-end;
    padding-right: 5px;
}

.nav-bar div {
    padding-left: 10px;
}

.page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(82, 82, 82, 0.767);
    height: 100%;
}

div a {
    color: red;
    text-decoration: none;
    transition: all 0.4s ease;
}

div a:hover {
    color: black;
    font-size: 1.5rem;
}

form {
    display: flex;
    flex-direction: column;
}

form button {
    margin-top: 10px;
}

input,
label {
    display: block;
}

label {
    text-align: center;
}

input {
    transition: all 0.4s ease;
    padding: 12px 20px;
}

input:hover {
    background-color: rgba(245, 20, 20, 0.342);
}

.post {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(151, 148, 148, 0.644);
    margin-bottom: 10px;
    padding: 25px;
    padding-top: 10px;
    border-radius: 15%;
    transition: all 0.4s ease-in-out;
}

.post:hover {
    transform: scale(1.2);
}

.post-title {
    margin-top: 0;
    margin-bottom: 10px;
    text-decoration: underline;
    text-transform: uppercase;
}

.post-message {
    font-size: 1.2rem;
    padding: 25px 0 25px 0;
    width: 95%;
    text-align: right;
    background-color: rgba(168, 165, 165, 0.644);
    border-radius: 10%;
    margin-bottom: 5px;
}

.post-info {
    font-style: italic;
}
